{% extends "base.html" %}

{% block content %}
<div class="col-12 mx-auto">
    <div class="card-title m-3">
            <a class="btn btn-danger margin" href='{% url "nowy" %}' role="button">Dodaj</a>
    </div>
{% for object in object_list %}
    {% include 'kierowcy/list-inline.html' with driver=object %}
{% endfor %}
</div>

{% endblock %}