
    <div class="lista col-11 mx-auto border border-secondary">
        <a href="{{ driver.get_absolute_url }}"> <h3>{{ driver.name }} <small>{{ driver.lastname }}</small></h3></a>
        <p>{{ object.czaspowrotu }}</p>
        <p>{{ object.przerwa }}</p>
        <p>{{ object.rekompensata }}</p>
        <p>{{ object.czaswyjazdu }}</p>
        <p>{{ object.typtrasy }}</p>
    </div>

