{% extends "Base.html" %}
{% load crispy_forms_filters static %}

{% block extrahead %}
<!-- bootsrap 4 -->
      
{% endblock %}


{% block content %}
<div class="formularz col-12 mx-auto p-3">
    <form method="POST" autocomplete="off" novalidate action="."> 
        {% csrf_token %}
        {{ form.media }}
        <b>{{ form|crispy }}</b>
       
        <button class="btn btn-danger my-3" type="submit">Zapisz</button>
    </form>
</div>




{% endblock %}