{% extends "base.html" %}

{% block content %}
<div class="rejestracja col-12 pb-3 p-3">
    {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td><b>{{ form.username.label_tag }}</b></td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td><b>{{ form.password.label_tag }}</b></td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="/">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
</div>



{% endblock %}