body {
    background-image: url(flota3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.lista {
    background-color:white;
    opacity: 0.85;
}

.rejestracja {
    background-color:white;
    opacity: 0.90;
}

.detail {
    background-color:white;
    opacity: 0.85;
}

.delete {
    background-color:white;
    opacity: 0.85;
}

.formularz {
    background-color:white;
    opacity: 0.85;
}