{% extends "base.html" %}

{% block content %}
    <div class="delete col-12 mx-auto">
        <h1>Jesteś pewien, że chcesz usunąć trasę </h1>
        <h3>{{ object.nazwatrasy }}?</h3>
        <form method="POST">{% csrf_token %}
            <button class="btn btn-danger my-3">Tak, usuń</button>
        </form>
    </div>
{% endblock %}