{% extends "base.html" %}

{% block content %}
<div class="detail col-12 mx-auto">
        <div class="card-title">
            <a class="btn btn-danger margin my-3" href="{{ object.get_edit_url }}" role="button">Edytuj</a>
    </div>
    <h1>{{ object.nazwatrasy }}</h1>
    <p>{{ object.czaswyjazdu }}</p>
    <p>{{ object.typtrasy }}</p>
    <p>{{ object.kierowca }}</p>
{% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <div class="card-title">
            <a class="btn btn-danger margin mb-3" href="{{ object.get_delete_url }}" role="button">Usuń</a>
    </div>
    {% endif %}
{% endif %}
</div>

{% endblock %}