
<div class="lista col-11 mx-auto border border-secondary">
    <a href="{{ road.get_absolute_url }}"> <h3>{{ road.nazwatrasy }}</small></h3></a>
    <p>{{ object.czaswyjazdu }}</p>
    <p>{{ object.typtrasy }}</p>
    <p>{{ object.kierowca }}</p>
</div>
