<div class="col-4 ml-0">
    <div class="input-group date" id="{{ widget.datetimepicker_id }}" data-target-input="nearest">
        {% include "django/forms/widgets/input.html" %}
        <div class="input-group-append" data-target="#{{ widget.datetimepicker_id }}" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
</div>

  <script>
    $(function () {
      $("#{{ widget.datetimepicker_id }}").datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
      });
    });
  </script>